
:root {
  --bordeaux: #4b0000;
  
}
main{
min-height: 100%;
}
html{
   transition: 1000ms;
   scroll-behavior: smooth;
   max-width: 1000px;
   font-family:Arial, Helvetica, sans-serif;
   background-color: rgb(0, 0, 0);
   color: rgb(255, 255, 255);
   border-right: 5px; 
}
body{
   font-style: italic;
   min-height: 100%;
   display: block;
   flex-direction: column;
   justify-content: space-between;
}
header{
   display: flex;
   flex-direction: column;
   width: 100%;
   justify-content: center;
   align-items: center;
}
.container{
   display: flex;
   width: 100%;
   justify-content: space-evenly;
      border-right: 10px;
}
.menu{
   list-style: none;
   /* margin: 0; */
}
.cabecera{
     width: 70%;
     height: auto;
}
.portada{
   height: 13vh;
   border-radius: 5px;
}
.lista{
   background: var(--bordeaux);
   justify-content: center;
   font-size: 1.2rem;
   color: whitesmoke;
   text-align: center;
   align-items: center;
   width: 80%;
   border-radius: 5px;
}
.titulos{
   /* font-weight: normal; */
   overflow: hidden;
   height: auto;
   padding: 0 0 0 0.5rem;
   font-size: 1rem;
   color: rgb(255, 255, 255);
   border-radius: 5px;
   background: var(--bordeaux);
   width: 75%;
}
.menu0{
   transition:1000ms;
   height: 0;
}
.menu1{
transition:1000ms;
   height: 0;
}
.menu2{
   transition:1000ms;
   height: 0;
}
.descr{
   /* font-weight: normal; */
   transition:500ms;
   height: 0;
   overflow: hidden;
   font-size: 0.9rem;
   text-align: center;
   color: white;
   background: var(--bordeaux);
   margin: 5px auto 5px 0%; 
   border-radius: 5px;
   width:80%;
   margin: 0 0 0 5%;
}
.cont{
   transition:500ms;
   height: 0;
   overflow: hidden;
   font-style: italic;
   font-size: 0.8rem;
   background: darkslategrey;
   display: flex;
   flex-direction: column;
   justify-content: left;
   color: rgb(255, 255, 255);
   width:72%;
   margin: 0 10% 0 15%;
   border: 3px 3px 3px 3px;
   border-color: white;
/*    padding: 1% 0 3% 5%;
 */   border-radius: 5px;
}
footer{
   color: white;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   width: 90%;
   margin-left: 10%;
}
.foot{
   font-size: 0.8rem;
}
a{
   /* animation-duration:500ms; */
   color: white;
 text-decoration: none;

}
 a:visited{
   text-decoration: none;
}

.activo{
height: auto;
padding: 0.1rem 0 0 0;
}
.cont-activo{
height: auto;
padding: 1% 1% 3% 1%
}
.volver{
text-align:right;
margin-right: 20%;
}
@media (min-width:768px){
.titulos{
   font-size: 1.3rem;
}

.descr{
   font-size: 1.2rem;
   width:75%;
}
.cont{
   font-size: 1rem;
    width:65%;
}
.foot{
   font-size: 1rem;
}
}
